<!DOCTYPE html>
<html lang="esn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>
</head>

<body>
  <!--------------------------- COMPPONENTE PADRE ------------------------------------------------------------>

  <div id="app">
    <nav class="navbar navbar-dark bg-info fixed-top">
      <a href="" class="navbar-brand">Hola Clase 0048 VUE</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#" v-on:click="displayCart=true" class="nav-link">Carrito: {{cart.length}}</a>
        </li>
      </ul>
    </nav>
    <div class="container mt-5">
      <product :premium="premium" :cart="cart" @add-to-cart="addToCart" @remove-from-cart="removeFromCart"></product>
      <!--el metodo de la linea 35 @add-To-Cart escucha al hijo y ejecuta la funcion AddToCart-->
    </div>
    <div class="modal" :class="{ show: displayCart }" :style="modalStyle">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Carrito de Compra</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="displayCart=false">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p v-if="!cart.length">No hay productos en el carro</p>
            <p v-else v-for="product in cart">{{product.type}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" @click="cart=[]">Vaciar carro</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"
              @click="displayCart=false">Pagar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


  <!------------------------ COMPPONENTE PRODUCT ------------------------------------------------>
  <script type="text/x-template" id="product-template">
    <div>
    <div class="row d-flex pt-5">
    <div class="col-sm-6">
      <img style="width: 100%;" :src="img" alt="" class="img-thumbnail" />
    </div>
    <div class="col-sm-6">
      <h1>{{ product }}</h1>
      <h3>{{ descrip }}</h3>
      <p>{{ stock }}</p>
      <p v-if='stock > 10'> En Stock</p>
      <p v-else-if='stock <= 10 && stock > 0'>Quedan muy pocas</p>
      <p v-else>Agotadas </p>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Variante</label>
        </div>
        <select class="custom-select" name="" id="" v-model="selectedVariant" >
          <option v-for='variant in variants' :key="variant.id" :value="variant">{{variant.type}}</option>
        </select>
    </div>
      <!-- este codigo esta susituido por las lineas de arriba 
        <div v-for='variant in variants' :key="variant.id">
        <p v-on:mouseover='updateProduct(variant)'> {{ variant.type }}</p>
      </div> -->
      <!-- <a :href="link">ver detalles</a>
      <p>Costo de envio: {{shipping}}</p> -->
      <button class="btn btn-sm btn-info" @click='addToCart' :disabled="!inStock"> Agregar al carro</button>
      <button class="btn btn-sm btn-info" @click='removeFromCart'> Sacar del carro</button>
      <product-tabs :details="details" :shipping="shipping" :reviews="reviews"></product-tabs> <!--// pasa el reviews del producto al tabs -->

    </div>
    </div>
  </div>
  </script>

  <!---------------------------- COMPPONENTE PRODUC-TABS -------------------------------->
  <script type="text/x-template" id="tabs-template">
    <div>
      <ul class="nav nav-tabs">
        <li class="nav-item" v-for="(tab, index) in tabs" :key="index">
          <a class="nav-link active" href="#" @click.prevent="selectedTab=tab">{{tab}}</a>
        </li>
      </ul>
        <!-- <reviews-form @review-added="addReview"></reviews-form> se saca por el uso de eventBus en el componente  -->
        <reviews-form v-show="selectedTab=='Add review'"></reviews-form>
        <reviews-list :reviews="reviews" v-show="selectedTab=='Ver reviews'"></reviews-list>
        <reviews-send :shipping="shipping" v-show="selectedTab=='Envio'"></reviews-send>
        <reviews-details :details="details" v-show="selectedTab=='Detalles'"></reviews-details>
      </div>
  </script>

  <!--------------------------- COMPPONENTE REVIEWS-DETAILS --------------------------------->
  <script type="text/x-template" id="template-details">
    <div>
      <ul>
        <li v-for='(detail, index) in details' :key="index"> {{ detail }}</li>
      </ul>
    </div>
  </script>

  <!-------------------------- COMPPONENTE REVIEWS-SEND -------------------------------------->
  <script type="text/x-template" id="template-send">
    <div>
        {{shipping}}
    </div>
  </script>


  <!-------------------------- COMPPONENTE REVIEWS- LIST ---------------------------------------->
  <script type="text/x-template" id="list-template">
    <div>
        <div v-for="review in reviews">{{review.email}}|{{review.review}}|{{review.rating}}</div>
      </div>
  </script>

  <!------------------------- COMPPONENTE REVIEWS-FORM ----------------------------------------->
  <script type="text/x-template" id="reviewsForm">
    <div>
      <div v-if="errors.length" class="alert aler-warning aler-dismissible">
        <b>Corregir los siguientes errores:</b>
        <ul>
          <li v-for="error in errors">{{error}}</li>
        </ul>
        <button type="button" @click="errors = []" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form @submit.prevent="saveReview">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" required class="form-control" v-model="email">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">Reviews</label>
            <textarea class="form-control" v-model="review"></textarea>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Notas</label>
            <select id="inputState" class="form-control" v-model.number="rating">
              <option selected>Escoja</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Agregar</button>
      </form>
    </div>
  </script>
  <!-------------------------------------------------------------------------------------->
  <script src="./products/index.js"></script>
  <script src="./products/form.js"></script>
  <script src="./products/tabs.js"></script>
  <script src="./products/list.js"></script>
  <script src="./products/send.js"></script>
  <script src="./products/details.js"></script>

  <script src="main.js"></script>


</body>


</html>
<style>

</style>