<!DOCTYPE html>
<html lang="esn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-ligth bg-info">
    <a href="" class="navbar-brand">
      Hola 0048
    </a>
  </nav>
  <div class="container">
    <div id="app">
      <div class="row, pt-5">
        <div class="col">
          <img style="width: 300px;" :src="img" alt="" />
        </div>
        <div class="col">
          <h1>{{product}}</h1>
          <h2>{{descrip}}</h2>
          <p v-if='stock > 10'>{{stock}} En Stock</p>
          <p v-else-if='stock <= 10 && stock > 0'>Quedan muy pocas</p>
          <p v-else>Agotadas </p>
          <ul>
            <li v-for='(detail, index) in details' :key="index">{{detail}}</li>
          </ul>
          <div v-for='variante in variantes' :key="variante.id">
            <p v-on:mouseover='updateImg(variante.img)'>{{variante.type}}</p>
          </div>
          <a :href="link">ver detalles</a>
          <p>Cant: {{cart}}</p>
          <button class="btn btn-sm btn-info" @click='addToCart' :disabled="!inStock">Agregar al carro</button>
          <button class="btn btn-sm btn-info" @click='removeFromCart'>Sacar del carro</button>
        </div>
      </div>
    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</body>

</html>